@import '../../../../variables.scss';

.quizzes {
  margin-top: 0.75rem;
}

.error-card {
  margin-top: 2rem;
  box-shadow: none;
  background-color: $color-primary;
  color: #ffffff;
  border-radius: 3px;

  .error-message {
    font-size: 1.2rem;
    padding: 0.5rem 0 1.6rem 0;
  }

  .button {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
  }
}
